body{ margin-top: 15px;
    margin-left:10px ;
    font-family: 'Poppins', sans-serif;
    background-color:#AAAAAA;
    max-width: 1212px;
    justify-content: center;
}

header{display: flex;
    justify-content: space-between;

}

.menu {display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}
.menu a,ul,li{
    text-decoration: none;
    display: inline;
    padding: 5px;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    /* grid-template-columns: repeat(2,1fr); */
    /* padding: 15px; */
}



.s1-div1{width: 40%;}
.s1-div2{width:40%;}
.s1-div2 img{height: 80%;width: 80%;}

.button{color: white;
        background-color: #E02C6D;
        padding: 10px;
        border-radius: 20px;
}

.e-site{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 10px;
    align-items: center;
}

.items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding-bottom: 80px;
}

.items img {height: 256px;width: 290px;
            padding-top: 12px;
            padding-left:10px;}

.item{background-color:white;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    overflow: hidden;}

    .product-name{font-size: 24px;}

    .product-price{font-size: 18px;}

    .rating{color: #FB8200;}
    .half-star{color: #FB8200;}

    .item p,i{padding-left: 10px;
        }

.section3{display: flex;
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 10px;}

.s3-div1 img{border-radius: 15px;}
.s3-div2{width: 600px ; padding-left: 100px;}
.s3-div1{background-color: white; }


.footer-link{font-size: 20px;
    background-color: white;
    text-decoration: white;
    padding-bottom:15px;}
    
footer{
    background-color:white;
    margin: 0;
    padding: 15px;
    color: chocolate;
    text-align: center;

}