@media only screen and (max-width: 992px){
    .menu{display: flex;
    align-items: center;}
    .section1{display: none;}
    .items{display: grid;
    grid-template-columns: repeat(1,1fr)}

}
    
